.time {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.clock-container {
  text-align: center;
  margin-bottom: 2em;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 5em;
  font-size: 1rem;
}

.footer p {
  cursor: pointer;
}

@media (min-width: 900px) {
  .main {
    border: solid white 1px;
  }
}

@media (min-width: 750px) {
  .main {
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 10px;
  }
  .footer {
    position: relative;
    margin-top: 3em;
  }
}
